---
# 这两行“---”是必需的，告诉Jekyll这是一个需要处理的文件
---

@import "minimal-mistakes"; /* 导入主题的所有基础样式，这行非常重要！ */

/* 在这之后添加你的自定义CSS */
h3.archive__subtitle {
    display: none !important;
}

/* 调整版权信息区域的内边距 */
.page__footer-copyright {
    padding-top: 0.5em !important;    /* 减少上方空白 */
    padding-bottom: 0.5em !important; /* 减少下方空白 */
    margin-top: 0 !important;         /* 减少顶部外边距 */
  }