---
# 这两行“---”是必需的，告诉Jekyll这是一个需要处理的文件
---

@import "minimal-mistakes"; /* 导入主题的所有基础样式，这行非常重要！ */

/* 在这之后添加你的自定义CSS */
h3.archive__subtitle {
    display: none !important;
}

/* 调整版权信息区域的内边距 */
/* 精准降低版权信息栏高度 */

#footer,
.page__footer {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    background: transparent !important;
}
#footer footer,
.page__footer > footer {
    /* 核心：减少上下内边距，直接压缩背景区域高度 */
    /*padding-top: 0.5em !important;*/
    padding-bottom: 0.5em !important;
  }

.page__content p + p {
    margin-top: 1.2em !important; /* 在相邻段落的上方增加间距 */
  }